<div class="container">

  <form class="example-form" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Job</mat-label>
      <input matInput formControlName="job">
    </mat-form-field>

    <br>
    <button class="submit" mat-raised-button color="primary" [disabled]="!miFormulario.valid">Guardar</button>
    <button mat-raised-button color="Secondary" (click)="cancelar()">Cancelar</button>
  </form>

</div>
