<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar User
  </button>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">

   <!-- <mat-card class="example-card" *ngFor="let user of this.userList">
        <img mat-card-image [src]="user.avatar" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <label>Nombre</label>
          <h4>{{user.first_name}}</h4>
          <br>
          <label>Apellido</label>
          <h4>{{user.last_name}}</h4>
        </mat-card-content>
      </mat-card> -->

    </div>
  </div>
</div>
